body {background: #eeeeee;}
.active {color: green;  font-size: 1rem; font-weight: bold; text-decoration: underline; }

th {padding: 0px 5px;}
.show_table {border-collapse: collapse;}
.show_table td {border-style: solid;}
/* table:not(.show_table) td:first-child {text-align: right;} */

.array_input {width: 50px;}
select {width: 173px;}
input[type=date] {width: 168px;}

.security_div {position: absolute; width: 300px; height: 120px; top: 50%; left: 50%; margin: -60px 0px 0px -150px;}

.flex-menu {
    display: flex;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.center-form{
    display: flex;
    justify-content: center;
}

.td-center {
    text-align: center;
}


